Ontology/DTDLValidator.exe
Ontology/Willow/Capability/Parameter/Setpoint/Quantity/TemperatureSetpoint/WaterTemperatureSetpoint/Condenser Water Temperature Setpoint/Entering/PrimaryLoopEnteringCondenserWaterTemperatureSetpoint.json
Ontology/Willow/Capability/Parameter/Setpoint/Quantity/TemperatureSetpoint/WaterTemperatureSetpoint/Condenser Water Temperature Setpoint/Entering/SecondaryLoopEnteringCondenserWaterTemperatureSetpoint.json
Ontology/Willow/Capability/Parameter/Setpoint/Quantity/TemperatureSetpoint/WaterTemperatureSetpoint/Condenser Water Temperature Setpoint/Entering/TertiaryLoopEnteringCondenserWaterTemperatureSetpoint.json
Ontology/Willow/Capability/Parameter/Setpoint/Quantity/TemperatureSetpoint/WaterTemperatureSetpoint/Condenser Water Temperature Setpoint/Leaving/SecondaryLoopLeavingCondenserWaterTemperatureSetpoint.json
